@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 20px 0 0 4px;
    font-size: 10pt;
    font-family: Gilroy-Regular, Gilroy, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Arial, sans-serif;
}